body {
    margin: 0;
    overflow: hidden;
    font-family: Arial;
    background: black;
    touch-action: none;
  }
  
  /* NAV */
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 14px;
    color: white;
    background: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 10;
  }
  
  /* FOOT */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 10;
  }
  
  /* VR BUTTON */
  #vrButton {
    position: absolute;
    right: 20px;
    bottom: 60px;
    z-index: 20;
    padding: 10px 15px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* POPUP */
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20,20,20,0.95);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    z-index: 30;
  }
  
  .hidden {
    display: none;
  }